body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
    margin-left: 20%;
    margin-bottom: 20px;
    border-bottom: solid;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 110%;
    height: 40px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    border-style: solid;
    border-color: white;
}

.sidebar {
    background-color: black;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 25px;
    margin-left: 35%;
    margin-bottom: 50px;
    color: white;
}

li > a {
    color: white;
    margin: 10%;
    font-size: 100%;
}

.topic {
    color: black;
    margin-left: 0px;
}

.entry > h1, h2{
    margin-left: 10%;
    margin-bottom: 20px;
    border-bottom: solid;
}

.entry > p {
    margin-left: 10%;
    margin-bottom: 20px;
}

.entry > ul {
    margin-left: 13%;
}

.container > label {
    font-style: underline;
    font-size: 25px;
}

.edit {
    background-color: lightgrey;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    margin-left: 15%;
    border-color: black;
    text-decoration-color: black;
}